.eventotitle {
  font-family: 'Rajdhani';
  color: #895370;
  font-weight: bold;
  font-size: 1.5rem;
}

.eventos {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Evento ITEM STYLING */

.eventosItem {
  border-radius: 15px;
  width: 450px;
  height: 350px;
  margin: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-family: 'Rajdhani';
  color: #895370;
  background-color: #eee0ea;
  display: flex;
  flex: 50%;
  height: 100%;
  align-items: center;
  padding-left: 0px;
}

.image-container img{
  overflow: hidden;
  width: 220px;
  height: 230px;
}

.card-content{
  margin: 1rem;
  margin-top: 0.5rem;
}

.eventosItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.card-content h3{
  margin: 0;
  padding: 0;
}

.card-content p{
  margin: 0;
  padding: 0px;
  text-align: justify;
}

.card-title{
  margin-bottom: 0.5rem;
}

.btn{
  display: flex;
  justify-content: center;
}

.btn button{
  padding: 0.5rem;
  background-color: #895370;
  border: none;
  transition: 0.2s;
  color: #FFFFFF;
  font-family: 'Rajdhani';
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.btn button:hover{
  background: #2d0719;
}
