.integrantestitle {
  font-family: 'Rajdhani';
  color: #895370;
  font-weight: bold;
  font-size: 1.5rem;
}

.integrantes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

